.admin-bg-primary {
  background-color: #09192a;
}

.admin-bg-secondary {
  background-color: red;
}

main {
  min-height: 100vh;
}

.table-responsive td {
  white-space: nowrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
